html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url(../images/login_bg.jpg) no-repeat center top;
    background-size: cover;
}

.layui-main>img {
    margin-top: 20px;
}

.layui-main .loginbox {
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 30%);
}

.title {
    height: 60px;
    background: url(../images/login_title.png) no-repeat center;
}

.regist-box {
    display: none;
}

.login-box,
.regist-box {
    padding: 0 30px;
    margin: 0!important;
}

.login-box .layui-form-item>a,
.regist-box .layui-form-item>a {
    float: right;
}

.layui-icon {
    position: relative;
    top: 27px;
    left: 10px;
}

.login-box input,
.regist-box input {
    padding-left: 30px;
}